<div id="gold-bar"></div>
<nav>
	<div class="cont">
		<ul class="links-left">
			{% for item in site.data.navigation_left %}
				<li>
					<a href="{{ item.link }}" {% if page.url == item.link %}class="active"{% endif %}>
						{{ item.name }}
					</a>
				</li>
			{% endfor %}
		</ul>
		<a href="#" class="navbar-brand">
			<img src="/assets/images/logo.png" alt="">
		</a>
		<ul class="links-right">
			{% for item in site.data.navigation_right %}
				<li>
					<a href="{{ item.link }}" {% if page.url == item.link %}class="active"{% endif %}>
						{{ item.name }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</nav>