#gold-bar {
	width: 100%;
	height: 5px;
	background: $main-color;
}


nav {
	background: black;
	display: flex;
	height: 150px;
	align-items: center;
	.container {
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		ul {
			display: flex;
			li:last-child {
				margin-right: 0;
			}
			li {
				margin-right: 2rem;

				a {
					padding: 10px 0;
					font-size: 18px;
					color: white;
				}
				a:hover {
					border-bottom: 2px solid $main-color;
				}
			}
		}
		.navbar-brand {
			border: 2px solid $main-color;
			background: black;
			padding: 70px;
			width: 375px;
			height: 200px;
			position: relative;
			top: 30px;
			z-index: 10;
			display: flex;
			align-items: center;
			justify-content: center;
			// clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
			img {
				width: 100%;
			}
		}
	}
}




@media (max-width: 1000px) {
	nav {
		height: 100px;
		.container {
			.navbar-brand {
				padding: 50px;
				width: 275px;
				height: 120px;
				top: 15px;
			}
			ul {
				li {
					a {
						font-size: 14px;
					}
				}
			}
		}
	}
}

@media (max-width: 780px) {
	nav {
		height: 300px;
		.container {
			flex-direction: column;
			align-items: space-around;
			justify-content: space-around;
			.navbar-brand {
				border: none;
				width: 300px;
				height: 200px;
				padding: 0;
				position: initial;
				margin-top: -30px;
				// margin-bottom: 20px;
			}
			ul {
				li {
					a {
						font-size: 18px;
					}
				}
			}
		}
	}
}

@media (max-width: 515px) {
	nav {
		height: 420px;
		.container {
			ul {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				li {
					margin-right: 0;
					margin-bottom: 1rem;
				}
			}
		}
	}
}